<h1> Users Index </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Event</th>
    <th>Inlieu</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td> <%= user.name %> </td>
	<td> <%= user.email %> </td>
  <td> <%= user.event %> </td>
  <td> <%= user.inlieu %> </td>
	<td> <%= link_to 'Show', admin_users_path + "/" +user.id.to_s() %> </td>
	<td> <%= link_to 'Destroy', admin_users_path + "/" +user.id.to_s(), html_options = {:method => :delete} %> </td>
  </tr>
<% end %>

</table>